@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');
/*
=============== 
Variables
===============
*/

:root {
/* dark shades of primary color*/
--clr-primary-1: hsl(205, 86%, 17%);
--clr-primary-2: hsl(205, 77%, 27%);
--clr-primary-3: hsl(205, 72%, 37%);
--clr-primary-4: hsl(205, 63%, 48%);
/* primary/main color */
--clr-primary-5: #49a6e9;
/* lighter shades of primary color */
--clr-primary-6: hsl(205, 89%, 70%);
--clr-primary-7: hsl(205, 90%, 76%);
--clr-primary-8: hsl(205, 86%, 81%);
--clr-primary-9: hsl(205, 90%, 88%);
--clr-primary-10: hsl(205, 100%, 96%);
/* darkest grey - used for headings */
--clr-grey-1: hsl(209, 61%, 16%);
--clr-grey-2: hsl(211, 39%, 23%);
--clr-grey-3: hsl(209, 34%, 30%);
--clr-grey-4: hsl(209, 28%, 39%);
/* grey used for paragraphs */
--clr-grey-5: hsl(210, 22%, 49%);
--clr-grey-6: hsl(209, 23%, 60%);
--clr-grey-7: hsl(211, 27%, 70%);
--clr-grey-8: hsl(210, 31%, 80%);
--clr-grey-9: hsl(212, 33%, 89%);
--clr-grey-10: hsl(210, 36%, 96%);
--clr-white: #fff;
--clr-red-dark: hsl(360, 67%, 44%);
--clr-red-light: hsl(360, 71%, 66%);
--clr-green-dark: hsl(125, 67%, 44%);
--clr-green-light: hsl(125, 71%, 66%);
--clr-black: #222;
--ff-primary: 'Mountains of Christmas', cursive;;
--ff-secondary: "Roboto", sans-serif;
--ff-secondary-2: 'East Sea Dokdo', cursive
--transition: all 0.3s linear;
--spacing: 0.25rem;
--radius: 0.5rem;
--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
--max-width: 1170px;
--fixed-width: 620px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./Images/red-bg-mobile.jpg);
  font-family:  var(--ff-primary);
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 100% 100%;
  overflow: hidden;
}

.title {
  margin: 10rem 0 3rem;
  font-size: 60px;
  text-transform: capitalize;
  color: var(--clr-white);
}

.countDown {
  display: flex;
}

.countDownItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  background-color: var(--clr-white);
  height: 5rem;
  width: 5rem;
  border-radius: var(--radius);
  margin: 0 0.3rem;
  display: grid;
  place-items: center;
}

.counter h3 {
  font-family: var(--ff-secondary-2);
  font-size: 3rem;
  font-weight: 100;
  font-weight: 600;
}
.countDownItem p {
  font-family: var(--ff-secondary-2);
  color: var(--clr-grey-10);
  font-size: 20px;
}

/* Desktop */
@media screen and (min-width: 700px) {
  body {
    background: url(./Images/red-bg-desktop.png);
    background-size: 100% 100%;
  }

  .title {
    margin: 5rem 0 3rem;
    font-size: 72px;
  }
}

/* Snow */
.snow1 { 
  background: url(./Images/snow-1.png);
  background-repeat: repeat; 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  top: 0; left: 0; 
  animation: animateOne 10s infinite linear; 
} 
.snow2 { 
  background: url(./Images/snow-2.png); 
  background-repeat: repeat; 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  top: 0; 
  left: 0; 
  animation: animateTwo 10s infinite linear; 
  background-size: 300px; filter: blur(1px); 
} 
.snow3 { 
  background: url(./Images/snow-3.png); 
  background-repeat: repeat; 
  width: 100%; 
  height: 100%; 
  position: absolute; top: 0; 
  left: 0; 
  animation: animateThree 10s infinite linear; 
  background-size: 800px; filter: blur(2px); 
}

@keyframes animateOne { 
  0% { background-position: 0px 0px; } 
  100% { background-position: 100px 650px; } 
}
 
@keyframes animateTwo { 
  0% { background-position: 0px -100px; } 
  100% { background-position: 0px 650px; } 
} 
@keyframes animateThree { 
  0% { background-position: 0px 100px; } 
  100% { background-position: 300px 650px; } 
}

/* PreLoader */
.preloader {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: grid;
  place-items: center;
}

.spin {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border-top: 2px solid var(--clr-red-light);
  animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}


/*=====================
      FIREWORKS
=====================*/
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.text-container {
  height: 5rem;
  width: auto;
  padding: 1rem;
  color: var(--clr-black);
  border-radius: var(--radius);
  display: grid;
  place-items: center;
}

.text-container h1 {
  font-family: 'Josefin Sans', sans-serif;
  animation: text-animate 5s linear infinite;
  -webkit-animation: text-animate 5s linear infinite;
}

@keyframes text-animate{
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%{
      color: rgb(17, 17, 16);
      text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
      color: #df2b60;
      text-shadow: 0 0 10px #df2b60,
      0 0 20px #df2b60,
      0 0 40px #df2b60,
      0 0 80px #df2b60,
      0 0 160px #df2b60;
  }
}